@using Umbraco.Cms.Core.Models
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

@inherits UmbracoViewPage
@{
  // Accessing the HomePage model
  var homePage = Model as ContentModels.HomePage;


  // Getting the children of the HomePage model

  @* var children = homePage?.Children?.Where(child => child.IsVisible()) ?? new List<IPublishedContent>(); *@

  // Getting a property of the HomePage model
  var mainNavigation = homePage?.MainNavigation;

}

@model IPublishedContent

<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="/">Start Bootstrap</a>
    <uui-button pristine="" type="" style="width:100px; height: 100px" look="default" color="default"
      label="Basic"></uui-button>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      @if (mainNavigation != null && mainNavigation.Any())
      {
        var dropdownId = 0;
        <ul class="navbar-nav ms-auto py-4 py-lg-0">
          @foreach (var navigationProperty in mainNavigation)
          {

            var hasChildLinks = navigationProperty.ChildLinks != null && navigationProperty.ChildLinks.Any();
            if (!hasChildLinks)
            {
              <li class="nav-item">
                <a class="nav-link px-lg-3 py-3 py-lg-4" href="@navigationProperty?.Link?.Url">@navigationProperty?.Title</a>
              </li>

            }
            else
            {
              <li class="nav-item dropdown">
                <a class="nav-link px-lg-3 py-3 py-lg-4 dropdown-toggle" href="https://google.com"
                  id="navbarDropdown@(dropdownId)" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  @navigationProperty.Title
                </a>
                <ul class="dropdown-menu border-0" aria-labelledby="navbarDropdown@(dropdownId)">
                  @foreach (var childLink in navigationProperty?.ChildLinks)
                  {
                    <li><a class="dropdown-item" href="@childLink.Url" target="@childLink.Target">@childLink.Name</a></li>
                  }
                </ul>
              </li>
            }
            dropdownId++;
          }
        </ul>
      }
    </div>
  </div>
</nav>
